:root{
    --font: Arial;
    --fekete: #333;
    --szurke: #ccc;
    --v_zold: #3cb878;
    --s_zold: #007335;
    --kek: #063711;
    --sarga: #ffab40;
    --arany: #fed346;
    --ezust: #cccccc;
    --bronz: #ce7402;
}

*{
    font-family: var(--font);
}

body{
    margin: 0;
}

div#cim{
    width: 100%;
    height: 100px;
    background-color: var(--ezust); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid black;
}

main{
    width: 800px;
    margin: auto;
    padding: auto;
}