main div{
    margin-top: 10px;
}

a{
    color: var(--v_zold);
}

li{
    cursor: default;
}

#kep{
    float: left;
    border: 1px solid black;
    margin-right: 20px;
    position: relative;
    width: 300px;
    height: 300px;
}

#kep img{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#adatok{
    padding-top: 20px;
}

h4{
    margin: 0;
}

.adat{
    margin-top: 0;
    margin-bottom: 10px;
    text-indent: 15px;
}