main div#valami a div{
    border: 2px solid black;
    float: left;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    padding: 10px;
}

body{
    color: black;
}

div#keret{
border: 2px black solid;
height: 199px;
width: 199px;
float: left;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 17px;
padding: 11px;
}

img{
    height: 25px;
    width: 25px;
}

p{
    font-weight: bold;
    font-size: larger;
}

h2{
    margin-left: 20px;
}

main div{
    margin-left: 20px;
    margin-top: 20px;
}
a{
    color: var(--v_zold);
}