body{
    text-align: center;
    background-color: #c6d9ec;
    font-family: 'Parisienne', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

header{
    background-color: #c6d9ec;
    margin: auto;
    border-bottom: #003366 solid 10px;
    width: 80%;
    height: 100px;
    color: #336699;
    font-size: 23px;

}

li{
    list-style-type: none;
}

img{
    height: 200px;
    width: 200px;
    margin:auto;
    border-radius: 50%;
    border: #003366 solid 3px;
}